# Core backend
fastapi
uvicorn
python-multipart
python-dotenv
requests

# LLM / LangChain
langchain-core
langchain-groq
accelerate
safetensors

# NLP
spacy
regex

# PDF / DOCX
PyPDF2
python-docx

# Data / Utils
numpy
pandas
tqdm
joblib

# Logging / monitoring
rich
